* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0;
    width: 100%;
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) 
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;


}

a {
    text-decoration: none;
}

button,
button:hover,
button:focus {
	font-family: inherit;
	outline: none;
	border: none;
    cursor: pointer;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.img-width {
    max-width:100%
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

/*header*/

.header {
    padding-top: 60px;
    padding-bottom: 60px;

}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.logo {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: center;
    max-width: 186px;
    display: block;
}

.logo span {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    display: block;
}

.menu_list {
    display: flex;

}

.menu_item {
    list-style-type: none;
}

.menu_item:not(:last-child) {
    margin-right: 35px;

}

.menu_link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.active,
.menu_link:hover,
.menu_link:focus {
    color: #fff;
    border-bottom: 3px solid #F1CDB3;
} 


/* offer */

.offer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.offer-items {
    padding-left: 40px;
    padding-right: 40px;
}

.offer_title {
    max-width: 310px;
    height: 114px;

    font-family: 'Georgia';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;


    display: flex;
    align-items: center;

    margin-bottom: 40px;
}

.offer_text{
    
    max-width: 460px;
    height: 72px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

    display: flex;
    align-items: center;

    color: #CDCDCD;
    margin-bottom: 42px;
}

.img-start-screen-puppy {
    padding-top: 20px;
}

.btn {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    color: #292929;
    font-style: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.btn:hover {
    background-color: white;
    border: 2px solid #F1CDB3;
}

.btn-white:hover {
    background-color: #F1CDB3;
    border: 2px solid white;
} 

/*about*/

.about {
    background-color: white ;
    padding-top: 80px;
    padding-bottom: 100px;
}

.img-about-pets {
    margin-right: 120px;
}

.about-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #545454;
    letter-spacing: 0.06em;
    max-width: 370px;
}

.about_text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    max-width: 430px;
    line-height: 160%;

    color: #4C4C4C;
    
    padding: 25px 0;
}

/*our friends*/

.our-friends {
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}

.our-friends-title {
    text-align: center;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;

    letter-spacing: 0.06em;
    color: #545454;
    
}

.our-friends-items {
    display: flex;
    padding: 60px 40px;
    justify-content: space-between;
}

.learn-more-menu {
    display: flex;
    cursor: pointer;
}

.learn-more-item {
    background: #FAFAFA;
    border-radius: 9px;
    text-align: center;
    margin: 0  40px;
}

.learn-more-item:hover {
    border: 2px solid #F1CDB3;
}

.container-btn-arrow {
    margin-top: 191px;
}

.btn-border {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
}

.btn-arrow {
    width: 52px;
    height: 52px;
    padding: 23px 19px;
}

.img-arrow-left {
    display: flex;
}

.img-arrow-right {
    display: flex;
    transform: rotate(180deg);
}

.name-pet {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;

    margin: 30px 0;
}

.container-our-pets {
    display: flex;
    justify-content: center;
}

/*help*/

.help {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 100px;
}

.help-title {
    text-align: center;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;

    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 60px;
}

.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.help-item {
    margin-right: 120px;
    margin-bottom: 55px; 
    
    text-align: center;
}

.help-name {
    white-space: nowrap;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;

    margin-top: 30px;
}

/*in-addition*/

.in-addition {
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}

.about-title {
    width: 300px;
}

.img-donation-dog {
    margin-right: 30px;
}

.name-numberofthebank {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    color: #545454;
    letter-spacing: 0.06em;

    margin: 20px 0;
}

.link-numberofthebank {
    background: #F1CDB3;
    border-radius: 9px;

    font-family: 'Georgia';
    font-style: normal;
    padding: 10px;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    width: 349px;
    margin-bottom: 20px;
}

.in-addition-link {
    color: #545454;
    display: flex;
    font-size: 20px;
}

.img-margin-right {
    margin-right: 15px;
}

.in-addition_text {
    width: 380px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #B2B2B2;
}

.in-addition-link:hover {
    color: white;
}

/*footer*/

.shelter-footer {
    padding: 40px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 290px;
    margin-bottom: 45px;
}

.footer-item {
    display: flex;
}

.footer-link {
    display: flex;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    letter-spacing: 0.06em;
    color: #F1CDB3;

    margin-bottom: 44px;
    
}

.footer-link:hover {
    color: white;
}