* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(img/start-screen-gradient-background.png);
}
button,
button:hover,
button:focus {
	font-family: inherit;
	outline: none;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;

}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

a {
    text-decoration: none;
}


p {
    padding: 0;
    margin: 0;
}

.header {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: center;
    width: 186px;
    display: block;
}

.logo span {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    display: block;
}

.menu_list {
    display: flex;

}

.menu_item:not(:last-child) {
    margin-right: 35px;

}

.menu_link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.menu_link:hover,
.menu_link:focus {
    color: #fff;
    border-bottom: 3px solid #F1CDB3;;
}

/*offer*/

.offer_title {
    width: 310px;
    height: 114px;

    font-family: 'Georgia';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;


    display: flex;
    align-items: center;

    margin-left: 40px;
    margin-bottom: 40px;
}

.offer_text{
    
    max-width: 460px;
    height: 72px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

    display: flex;
    align-items: center;

    color: #CDCDCD;

    margin-left: 40px;
}

.img-start-screen-puppy {
    max-width:100%
}